absl-py==0.1.10
astor==0.6.2
bleach==1.5.0
bokeh==0.12.14
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cycler==0.10.0
decorator==4.2.1
descartes==1.1.0
entrypoints==0.2.3
Fiona==1.7.11.post1
gast==0.2.0
geopandas==0.3.0
grpcio==1.10.0
h5py==2.7.1
html5lib==0.9999999
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.4
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.0
mistune==0.8.3
munch==2.2.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.0
numpy==1.14.1
packaging==17.1
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
protobuf==3.5.1
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
pyproj==1.9.5.1
PySAL==1.14.3
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
Send2Trash==1.5.0
Shapely==1.6.4.post1
simplegeneric==0.8.1
six==1.11.0
tensorboard==1.6.0
tensorflow==1.15.4
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0
tqdm==4.19.6
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wget==3.2
widgetsnbextension==3.1.4
